@font-face {
  font-family: Georgia;
  font-weight: normal;
  src: url("../assets/fonts/georgia-regular.ttf");
}
@font-face {
  font-family: Georgia;
  font-style: italic;
  src: url("../assets/fonts/georgia-italic.ttf");
}
@font-face {
  font-family: Arial;
  font-weight: normal;
  src: url("../assets/fonts/arial-regular.ttf");
}
@font-face {
  font-family: "Arial";
  font-style: italic;
  src: url("../assets/fonts/arial-italic.ttf");
}
@font-face {
  font-family: "Georgia";
  font-weight: bold;
  src: url("../assets/fonts/georgia-bold.ttf");
}
@font-face {
  font-family: "Georgia";
  font-style: italic;
  src: url("../assets/fonts/georgia-bold-italic.ttf");
}

body {
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #4c4c4c;
  background: url(/assets/img/noise_transparent.png), radial-gradient(70% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  min-width: 1280px;
  margin: 0;
}
.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}

/* Header */

.main-header {
  padding: 30px 0 90px 0;
}
.main-header-nav {
  display: flex;
  align-items: center;
}
.main-header-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 573px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 443px;
}
.main-nav__link {
  font-family: "Arial", sans-serif;
  color: #cdcdcd;
  line-height: 160%;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
}
.main-nav__link_active {
  color: #fafafa;
  text-decoration: underline;
  text-decoration-color: #f1cdb3;;
  text-decoration-thickness: 3px;
  text-underline-offset: 7px;
  text-underline-position: under;
}
.main-header-nav__item {
  margin-right: 35px;
}
.main-header-nav__item:last-child {
  margin-right: 0;
}


           /* Main */

/* Promo */

.promo {
  display: flex;
}
.promo-wrapper {
  margin-top: 163px;
  margin-right: 42px;
}
.promo__header {
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #fff;
  width: 310px;
  margin: 0;
  margin-bottom: 42px;
  padding: 0;
}

.promo__content {
  margin-top: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
  margin-bottom: 42px;
}
.promo__link {
  padding: 15px 45px;
  background-color: #f1cdb3;
  width: 210px;
  border-radius: 50px;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-weight: 400;
  color: #292929;
  text-decoration: none;
}
.promo-image {
  object-fit: contain;
}

/* About */
.about {
  background-color: #fff;
  padding-top: 80px;
  padding-bottom: 100px;
  margin: 0;
}
.about-content {
  width: 430px;
  margin-bottom: 14px;
  padding: 0;
}
.about-content__content {
  margin-top: 25px;
  margin-bottom: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
}
.about-content__header {
  width: 370px;
  margin: 0;
  margin-top: 14px;
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
.about-wrapper {
  display: flex;
  justify-content: space-around;
}
.about-image {
  order: -1;
}

                 /* Our friends */
.our-friends {
  background-color: #f6f6f6;
  padding-top: 80px;
  padding-bottom: 90px;
}
.our-friends__header {
  font-family: "Georgia", sans-serif;
  max-width: 400px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}
.our-friends-wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.button-move-left {
  order: -1;
  background-image: url("../assets/svg/arrow-left.svg");
  background-position: 50% 50%;
  background-color: #f6f6f6;
  background-repeat: no-repeat;
  padding: 0;
  margin-right: 53px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  vertical-align: middle;
}
.button-move-right {
  order: 2;
  background-image: url("../assets/svg/arrow-right.svg");
  background-position: 50% 50%;
  background-color: #f6f6f6;
  background-repeat: no-repeat;
  padding: 0;
  margin-left: 53px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  vertical-align: middle;
}

.our-friends__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 990px;
}
.our-friends__item {
  text-align: center;
  margin-right: 90px;
  padding-bottom: 30px;
}
.our-friends__item:last-child {
  margin-right: 53px;
}
.our-friends__item-header {
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 41.5px;
  margin-right: 41.5px;
}
.our-friends__link {
  display: inline-block;
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  padding: 15px 45px;
}
.our-friends__link-to-know {
  display: block;
  margin: 60px auto 0 auto;
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  border-radius: 100px;
  padding: 15px 45px;
  background-color: #f1cdb3;
  width: 262px;
  height: 52px;
}